html {
  /* Your scrollbar styles here */
  ::-webkit-scrollbar {
    width: 3px;
    background-color: #f0f0f0;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
}
